body {
    background-color: #343a40;
}

#login-title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
}

#form-border {
    color: #8D8D8D;
    margin-top: calc(50vh - 200px);
    width: 350px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}
