.navbar-brand img {
    height: 40px;
}

#index-poster {
    height: calc(100vh - 66px);
    width: 100vw;
    background: #343a40;
}


#index-poster .row {
    padding-top: calc(30vh);
}

#index-poster .row div {
    font-size: 10vw;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #5a6068;
}

body {
    background-color: #343a40;
}

#form-border {
    color: #8D8D8D;
    margin-top: calc(50vh - 200px);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#form-title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
}

.layui-nav img {
    height: 58px;
}

.blog-frame {
    padding-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}


.blog-block {
    background-color: #6f42c1;
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 5px #222222;
}

.blog-block h1 {
    color: #cccccc;
    font-weight: bold;
    text-align: center;
}

.blog-block p {
    color: #222222;
    font-weight: bold;
}

#blog-title {
    text-align: center;
    font-size: 40px;
    line-height: 100px;
    color: #6f42c1;
}

#blog-author {
    text-align: center;
    color: #5a6268;
}

#blog-time {
    text-align: center;
    color: #5a6268;
}

#blog-content {
    color: #cccccc;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}