.navbar-brand img {
    height: 40px;
}

#index-poster {
    height: calc(100vh - 66px);
    width: 100vw;
    background: #343a40;
}


#index-poster .row {
    padding-top: calc(30vh);
}

#index-poster .row div {
    font-size: 10vw;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #5a6068;
}

body {
    background-color: #343a40;
}

#form-border {
    color: #8D8D8D;
    margin-top: calc(50vh - 200px);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#form-title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
}

.layui-nav img {
    height: 58px;
}

.blog-frame {
    padding-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}


.blog-block {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 5px #222222;
}

.blog-block h1 {
    color: #cccccc;
    font-weight: bold;
    text-align: center;
}

.blog-block p {
    color: #222222;
    font-weight: bold;
}

#blog-title {
    text-align: center;
    font-size: 40px;
    line-height: 100px;
    color: #6f42c1;
}

#blog-author {
    text-align: center;
    color: #5a6268;
}

#blog-time {
    text-align: center;
    color: #5a6268;
}

#blog-content {
    color: #cccccc;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.plan-box {

}

.plan-block {
    background-color: #6f42c1;
    width: 280px;
    box-shadow: 15px 15px 15px 15px #222222;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #eeeeee;
}

.plan-block button {
    margin-bottom: 0;
}

.plan-block div {
    line-height: 43px;
    font-size: 18px;
}

.plan-block h2 {
    line-height: 62px;
    font-weight: bolder;
}

.plan-box {
    padding: 20px;
}

.billing-block {
    background-color: #dddddd;
    width: 280px;
    height: 300px;
    box-shadow: 15px 15px 15px 15px #222222;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #eeeeee;
}

.billing-block h6 {
    color: #343a40;
    font-weight: bold;
}

.billing-block h1 {
    font-size: 50px;
    line-height: 80px;
    /*color: #EE0033;*/
    /*color: #00CC00;*/
}

.billing-block p {
    color: #343a40;
    line-height: 60px;
    font-size: 20px;
}

.cash-top {
    background-color: #6f42c1;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 15px 15px 15px 15px #222222;
}

.cash-top div {
    height: 150px;
    line-height: 150px;
    font-size: 30px;
    color: #cccccc;
    text-align: center;
}

#billing-a {
    color: #FFCC33;
    font-weight: bold;
}

#billing-b {
    /*color: #00CC00;*/
    /*color: #EE0033;*/
    font-weight: bold;
}

#billing-c {
    color: #EE0033;
    font-weight: bold;
}

#billing-d {
    color: #00CC00;
    font-weight: bold;
}

.font-color-high {
    color: #EE0033;
}

.font-color-low {
    color: #00CC00;
}

.shop-plan-block {
    color: #e2e2e2;
    width: 300px;
    box-shadow: 10px 10px 5px #222222;
    margin: 20px;
}

.shop-plan-block h2 {
    background-color: #393D49;
    text-align: center;
    font-size: 40px;
}

.shop-plan-block div {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: large;
}

.shop-plan-block span {

}

#shop-buy-form {
    padding: 10px;
}